<section class="main">
  <app-input [itemToEdit]="itemToEdit">
  </app-input>
  <div class="container">
    <div class="lista">
      <div class="header-lista">
        <h4 class="title-list">Lista de Compras</h4>
        <button class="btn-header" (click)="clearPurchaseList()">
          <small>Limpar lista</small>
        </button>
      </div>
      <div *ngIf="purchaseList.length !== 0; else purchaseListEmpty">
        <div *ngFor="let item of purchaseList">
          <app-item
            [item]="item"
            (emmiterItemToEdit)="editItem($event)"
            (emmiterItemToDelete)="deleteItem($event)"
          ></app-item>
        </div>
      </div>
      <ng-template #purchaseListEmpty>
        <small>Sem itens na lista.</small>
      </ng-template>
    </div>
  </div>
</section>
